.download-progress {
  margin: 10px 0;
  position: relative;
}
.progress-message {
  position: absolute;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
  transform: translateY(-50%);
  top: 50%;
  color: white;
}
.btnSubmit {
  position: relative;
  min-height: 40px;
  width: 100px;
}
