<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <app-date-time-input
      [computingMessage]="computingMessage"
      (arrayAllPagesByCountry)="getArrayAllPagesByCountry($event)"
      (keys)="getKeys($event)"
      (onSubmitClicked)="getOnSubmitClickedEvent()">
    </app-date-time-input>
    <app-selection
      #selection
      [fromProfile]="false"
      [endOfWrite]="endOfWrite"
      [keys]="keys"
      [arrayAllPagesByCountry]="arrayAllPagesByCountry"
      (countriesSelected)="getCountriesSelected($event)"
      (selectedKeys)="getSelectedKeys($event)"
      (deletionSignalFromSelection)="getDeletionSignalFromSelection($event)">
    </app-selection>
  </div>
  <div class="col-3"></div>
</div>


<app-tables
  [countriesSelected]="countriesSelected"
  [selectedKeys]="selectedKeys"
  (deleteSelection)="getDeletionSignal($event)">
</app-tables>


