<div class="row row-home">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="row">
      <h1 class="title">
        Peek an eye on Wikipedia page views across the world
      </h1>
      <p class="title-description">
        From New-Zealand to France, observe what are the most researched informations between countries.
      </p>
    </div>
    <div class="row">
      <div class="col description-1">
        <img src="assets/images/datetimepicker.png" alt="date-picker">
        <h4>Date & time picker</h4>
        <p>
          Select any date and hour from 2016 to today
        </p>
      </div>
      <div class="col description-1">
        <img src="assets/images/viewlist.png" alt="date-picker">
        <h4>Tables</h4>
        <p>
          When computing starts, select any subdomains to add it to the view list
        </p>
      </div>
      <div class="col description-1">
        <img src="assets/images/profileimg.png" alt="date-picker">
        <h4>Profile</h4>
        <p>
          Find your search history in your profile along with other informations
        </p>
      </div>
    </div>

  </div>
  <div class="col-3"></div>

</div>
