<div class="row">
  <div class="col-3"></div>
  <div class="col-6 article-container">
    <div class="article">
      <div class="article-author">
        <div class="img-author"><img src="assets/images/author.jpg" alt="img-author"></div>
        <div class="author-infos">
          <div class="container-author-infos">
            <p class="name">Nadir Sehnoun</p>
            <p class="role">Freelance Software Developer @ SocGen</p>
            <p class="date">May 19,</p>
          </div>
        </div>
      </div>
      <div class="article-content">
        <div class="article-content-header">
          <h4>Improving the application</h4>
          <p class="quote">
            "Progress is made by trial and failure; the failures are generally a hundred times more numerous than the successes ; yet they are usually left unchronicled." - William Ramsay
          </p>
        </div>
        <div class="article-content-content">
          <p>Generally, one knows what is the best practice for a given situation / workflow.
            It is pretty hard to actually apply these while coding.<br/>
            Obviously, with organization, architecture and conception, it gets easier.</p>

          <p>I was very pleased to work on such a project.
            Creating an application from scratch is a luxury to be honest.<br/>
            Working on this technical test wasn't feeling like a duty, but rather as my own personal project.
            <br/> I tried to keep it coherent and to respect the guidelines I set when I started it but it was hard without enough time.</p>

          <p>In this case, the most challenging part was to adapt to new problematics as progress was made.</p>

          <p>I took two weeks for this project not because it was hard but because I wanted to display what I know.
            I could have taken this whole time just to perfect the sorting algorithm and render a project with basic functionalities.
          </p>
          <p>I chose to focus both on the algorithm - even though it is pretty basic - and the interface. <br/>
            I also wanted to display other mandatory abilities for a Software Developer.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
