.pageviews-profile {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 10px auto;
  cursor: pointer;
  background: #eef7ff;
  width: max-content;
  position: relative;
}
.not-available {
  background-color: lightcoral;
}
.pageviews-profile p:hover {
  background: white;
}
.pageviews-profile p {
  display: inline-block;
  color: #343a40;
  padding: 10px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
  margin: 0;
}
.pageviews-profile span {
  position: absolute;
  font-size: 9px;
  bottom: 0;
  right: 0;
  font-style: oblique;
  padding: 1px;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid lightgreen;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}

.not-available-panel {
  position: absolute;
  right: 0;
  transform: translateX(100%);
  width: 50px;
  height: 45px;
  top: 0;
}

.not-available-panel img:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.not-available-panel img {
  transition: 0.15s ease-in-out,.15s ease-in-out,.15s ease-in-out;
  position: absolute;
  width: 30px;
  background: lightgreen;
  right: 0;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}
.spinner-container {
  display: none;
  position: absolute;
  width: 30px;
  background: lightgreen;
  right: 0;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  height: 30px;
}
.spinner-download {
  position: absolute;
  background: lightgreen;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  color: white;
}
.hidden{
  display: none;
}
.displayed {
  display: block;
}
.pageviews-container {
  height: 500px;
  overflow-y: scroll;
}
