<div class="row">
  <div class="col-6 row">
    <div class="col-7 pageviews-container">
      <h4>Previous Page Views</h4>

      <div *ngIf="isLoading" class="init-spinner-container">
        <div class="container-spinner">
          <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
      <div #element *ngFor="let pageView of pageViews" class="pageviews-profile {{pageView.isAvailable ? '' : 'not-available'}}">
        <div *ngIf="!pageView.isAvailable" class="not-available-panel">
          <div class="arrow-left"></div>
          <img src="assets/images/download.png" alt="download" (click)="downloadPageView(pageView, element)">
          <div class="spinner-container">
            <div class="spinner-border spinner-download spinner-border-sm" role="status" aria-hidden="true"></div>
          </div>
        </div>
        <p (click)="fetchPageView(pageView.id, element)">
          {{pageView['name']}}
        </p>
        <span>{{pageView['dateToDisplay']}}</span>
      </div>
    </div>

    <div class="col-5 selection-container">
      <h4>Select a sub-domain</h4>
      <app-selection
        class="row app-selection"
        #selection
        [title]="'Select a Page View'"
        [fromProfile]="true"
        [endOfWrite]="endOfWrite"
        [keys]="keys"
        [arrayAllPagesByCountry]="arrayAllPagesByCountry"
        (countriesSelected)="getCountriesSelected($event)"
        (selectedKeys)="getSelectedKeys($event)"
        (deletionSignalFromSelection)="getDeletionSignalFromSelection($event)">
      </app-selection>
    </div>
  </div>
  <div class="col-6">
    <app-tables
      [countriesSelected]="countriesSelected"
      [selectedKeys]="selectedKeys"
      (deleteSelection)="getDeletionSignal($event)">
    </app-tables>
  </div>
</div>
