<div class="row">
  <div class="col-3"></div>
  <div class="col-6 article-container">
    <div class="article">
      <div class="article-author">
        <div class="img-author"><img src="assets/images/author.jpg" alt="img-author"></div>
        <div class="author-infos">
          <div class="container-author-infos">
            <p class="name">Nadir Sehnoun</p>
            <p class="role">Freelance Software Developer @ SocGen</p>
            <p class="date">May 19,</p>
          </div>
        </div>
      </div>
      <div class="article-content">
        <div class="article-content-header">
          <h4>Points of tension</h4>
        </div>
        <div class="article-content-content">
          <p>
            One of the reasons why I chose Node.js for this project was its asynchronicity and how easy it is to start working.</p>
            <p>I knew since the beginning of my work that the time of computing would be long and I had to find a way to correctly
              display the data to the user.</p>
            <p>During my experiences, I learnt that one of the most disappointing user experience is to wait idle. Not having any
              result to our actions.</p>
            <p>During computing, the server was overloaded by the operations. The hardest part was that requests were blocked during that time and until
              the server can process it.
              So I had to create a system where as soon as the data is ready, it is sent to the user.</p>
            <p>Can you find any better description for asynchronicity ?</p>


        </div>
      </div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
