.header {
  width: 100%;
  position: relative;
  height: 100px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.img-container {
  text-align: center;
}
.img-pageviews {
  width: 50px;
}
.header-content {
  justify-content: space-between;
}
